@import "../../../styles/index.scss";

.m-sidebarLight {
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #fff;
  border-radius: 0 24px 24px 0;
  filter: drop-shadow(8px 0 32px rgba(56, 117, 255, 0.1));
  height: 100vh;
  min-height: 768px;
  transition: width 0.3s ease-out, background-color 0.3s ease-out;

  &__upper {
    height: 75%;
  }

  &__menuWrapper {
    padding: 20px;
    height: 75%;
    overflow: overlay;
  }

  &__lower {
    height: 25%;
    background-color: #e6eaf240;
    padding: 40px 28px;
  }

  &__lowerItem {
    font-size: 14px;
    font-weight: 700;
    margin-left: 12px;
    opacity: 1;
    transition: opacity 0.3s ease-out 0.2s, visibility 0.3s ease-out 0.3s;
    white-space: nowrap;
    display: block;
    color: #434344;

    &:not(:first-child) {
      margin-top: 16px;
    }

    &:hover {
      color: #0e367d;
    }

    .m-sidebarLight--close & {
      transition: opacity 0.3s ease-out 0.2s, visibility 0s 0s;
      visibility: hidden;
      opacity: 0;
    }
  }

  &__logoWrapper {
    display: flex;
    padding: 20px 10px;
    height: 140px;
    align-items: center;
    justify-content: center;
    .m-sidebarLight--close & {
      padding: 30px 10px;
    }
  }

  &__logo {
    height: 100px;
    transition: height 0.3s ease-in-out;
    .m-sidebarLight--close & {
      height: 60px;
    }
  }

  &__logoText {
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
    color: #008080;
  }

  &__arrow {
    cursor: pointer;
    display: flex;
    padding: 5px;
    border-radius: 50%;
    background: aliceblue;
    font-size: 32px;
    position: absolute;
    right: -30px;
    top: 50%;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateY(-50%);
    z-index: 1;

    .m-sidebarLight--close & {
      right: -30px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg) ;
    }
  }

  &--close {
    width: 92px;
  }

  &--active {
    width: 256px;
  }
}
