@import "../../../styles/index.scss";

.m-sidebarLight {
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #fff;
  border-radius: 0 24px 24px 0;
  filter: drop-shadow(8px 0 32px rgba(56, 117, 255, 0.1));
  height: 100vh;
  min-height: 768px;
  transition: width 0.3s ease-out, background-color 0.3s ease-out;

  &__upper {
    height: 75%;
  }

  &__menuWrapper{
    margin-top: 20px;
    padding: 20px;
  }

  &__lower {
    height: 25%;
    background-color: #e6eaf240;
    padding: 40px 28px;
  }

  &__lowerItem {
    font-size: 14px;
    font-weight: 700;
    margin-left: 12px;
    opacity: 1;
    transition: opacity .3s ease-out .2s,visibility .3s ease-out .3s;
    white-space: nowrap;
    display: block;
    color: #434344;

    &:not(:first-child){
        margin-top: 16px;
    }

    &:hover {
        color: #0e367d;
    }
  }

  &__logo {
    padding: 20px 10px;
    border-bottom: 1px solid #ccc;
    .m-sidebarLight--close & {
        padding: 30px 10px;
     }
  }

  &__logoText {
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
    color: #008080;
  }

  &__arrow {
    cursor: pointer;
    display: inline-block;
    font-size: 32px;
    position: absolute;
    right: 8px;
    top: 15px;
    transition: transform 0.3s ease-in-out;

    .m-sidebarLight--close & {
      right: 17px;
      top: 0px;
      transform: rotate(180deg);
    }
  }

  &--close {
    width: 60px;
  }

  &--active {
    width: 256px;
  }
}
