@import "../../../styles/index.scss";
.dashboard {
    &__wrapper {
        // display: flex;
    }

    &__sidebar {
    }

    &__mainBody {
        width: calc(100% - 310px);
        margin-left: 300px;
        padding-top: 10px;
        padding-right: 10px;
    }

    &--wide{
        width: calc(100% - 140px);
        margin-left: 120px;
    }
}
