@import "../../../styles/index.scss";
.dashboard {
    &__wrapper {
        // display: flex;
    }

    &__sidebar {
    }

    &__mainBody {
        width: calc(100% - 285px);
        margin-left: 280px;
        padding-top: 10px;
        padding-right: 10px;
    }

    &--wide{
        width: calc(100% - 100px);
        margin-left: 100px;
    }
}
